<!--<div class="wrapper">-->
<!--<nav id="sidebar">-->
<!--<div class="sidebar-header">-->
<!--<h3>VUZ24</h3>-->
<!--</div>-->
<!--<ul class="list-unstyled components">-->
<!--<li class="active"><a href="#">Bosh saytga o'tish</a></li>-->
<!--<li><a routerLink="moderators">Moderatorlar</a></li>-->
<!--<li>-->
<!--<a (click)="showFullMenu(1)">Yangiliklar<span class="fa fa-angle-right" id="menuArrow1"></span></a>-->
<!--<ul class="collapse list-unstyled" id="homeSubmenu1">-->
<!--&lt;!&ndash; <li><a routerLink="create-news">Yangilik qo'shish</a></li> &ndash;&gt;-->
<!--&lt;!&ndash; <li><a routerLink="my-news">Mening yangiliklarim</a></li> &ndash;&gt;-->
<!--<li><a routerLink="not-published-news">Yangi qo'shilgan yangiliklar</a></li>-->
<!--<li><a routerLink="all-news">Barcha yangiliklar</a></li>-->
<!--&lt;!&ndash; <li><a routerLink="published-news">Chop etilgan yangiliklar</a></li> &ndash;&gt;-->
<!--&lt;!&ndash; <li><a>O'chirilgan yangiliklar</a></li> &ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--<nav class="navbar navbar-dark fixed-top bg-dark" id="navbar">-->
<!--<div id="content">-->
<!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">-->
<!--<i class="fa fa-bars"></i>-->
<!--</button>-->
<!--</div>-->
<!--<a class="dropdown-toggle" data-toggle="dropdown" id="nameDrop">{{name}} {{surname}}</a>-->
<!--<div class="dropdown-menu dropdown-menu-right">-->
<!--<a class="dropdown-item" (click)="logOut()">Chiqish</a>-->
<!--</div>-->
<!--</nav>-->
<!--<div id="mainBody" class="container">-->
<!--<app-admin-nav-panel></app-admin-nav-panel>-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->

<div class="main-panel-container">
  <div class="nav-panel-container">
    <app-admin-nav-panel></app-admin-nav-panel>
  </div>
  <div class="main-panel-child">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Confirm Modal -->
<app-confirm-modal></app-confirm-modal>
<!-- Shared Toaster -->
<app-shared-toaster></app-shared-toaster>
