<div class="row newsItem" *ngIf="newsItem">
    <div class="col-3" *ngIf="imageHeight" id="{{'newsImgBlock' + newsItem.nlId}}">
      <img src="{{imgSrc}}" *ngIf="imgSrc" class="grow">
    </div>
    <div class="col-9" id="{{'newsContent' + newsItem.nlId}}">
      <a routerLink="{{'/' + newsItem.lang + '/news/' + newsItem.nlId}}" fragment="{{newsItem.newsType.key}}">
        <h5>{{newsItem.title}}</h5>
        <p class="subContent">{{newsItem.subContent}}</p>
      </a>
      <hr class="mt-2 mb-1">
      <div class="downLine">
        <div class="downElement d-none d-sm-inline-block">
            <pre>
<span class="{{'color' + newsItem.newsType.key}}">{{newsItem.newsType.name}}</span>
<span>{{newsItem.publishDate}}</span></pre>
        </div>
      <div class="downElements">
        <div class="downElement">
          <span><i class="fa fa-eye"></i> {{newsItem.viewedCount}}</span>
        </div>
        <div class="downElement">
          <span *ngIf="!newsItem.commentCount"><i class="fa fa-comments-o"></i> 0</span>
          <span *ngIf="newsItem.commentCount"><i class="fa fa-comments-o"></i> {{newsItem.commentCount}}</span>
        </div>
        <div class="downElement">
          <span>
            <input id="{{'toggle-heart-' + index}}" type="checkbox" [attr.checked]="newsItem.profile && newsItem.profile.isLiked ? true : null"/>
            <label for="{{'toggle-heart-' + index}}" aria-label="like"
                   (click)="likeNews()"><i class="fa"
                   [class.fa-heart]="newsItem.profile && newsItem.profile.isLiked"
                   [class.fa-heart-o]="!newsItem.profile || !newsItem.profile.isLiked"></i><i
                   *ngIf="newsItem.likedCount"> {{newsItem.likedCount}}</i></label>
          </span>
        </div>
        <div class="downElement">
          <span><i class="fa" (click)="saveNews()"
                    [class.fa-bookmark]="newsItem.profile && newsItem.profile.isSaved"
                    [class.fa-bookmark-o]="!newsItem.profile || !newsItem.profile.isSaved"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>