<div id="logInForm">
  <form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="assets/images/logo.png" alt="" width="200" height="100">
    </div>

    <p id="wrongTryWarning">*** You entered wrong <span>Username</span> <i>and</i>/<i>or</i> <span>Password</span> ***</p>
    <div class="form-label-group">
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <label for="inputEmail">Username</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="authorization()">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>
</div>