<div class="row interactive">
  <h3 *ngIf="isUzl">Interaktiv linklar</h3>
  <h3 *ngIf="isUzk">Интерактив линклар</h3>
  <h3 *ngIf="isRu">Интерактивные ссылки</h3>
  <h3 *ngIf="isEn">Interactive links</h3>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://www.lex.uz/" target="_blank">
      <img src="{{'assets/images/interactive/lex_' + lang + '.jpg'}}" alt="O'zbekiston Raspublikasi Qonun xujjatlari ma'lumotlari milliy bazasi">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="https://data.gov.uz/uz" target="_blank">
      <img src="{{'assets/images/interactive/open_' + lang + '.jpg'}}" alt="O'zbekiston Raspublikasi ochiq ma'lumotlar portali">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://constitution.uz/oz" target="_blank">
      <img src="{{'assets/images/interactive/kons_' + lang + '.jpg'}}" alt="O'zbekiston Raspublikasi Konstitutsiyasi">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="https://my.gov.uz/oz" target="_blank">
      <img src="{{'assets/images/interactive/int_' + lang + '.jpg'}}" alt="Yagona interaktiv davlat xizmatlari portali">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://mustaqillik.uz/oz/" target="_blank">
      <img src="{{'assets/images/interactive/sol_' + lang + '.jpg'}}" alt="Mustaqil O'zbekiston Solnomasi">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://dd.gov.uz/uz/" target="_blank">
      <img src="{{'assets/images/interactive/das_' + lang + '.jpg'}}" alt="O'zbekiston Raspublikasi davlat dasturlari portali">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://ziyonet.uz/uz" target="_blank">
      <img src="{{'assets/images/interactive/tal_' + lang + '.jpg'}}" alt="Ta'lim portali">
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
    <a href="http://365.gov.uz/uz" target="_blank">
      <img src="{{'assets/images/interactive/365_' + lang + '.jpg'}}" alt="O'zbekiston Raspublikasi voqealar va tadbirlar portali">
    </a>
  </div>
</div>