<hr class="hr-text" data-content="Dolzarb" *ngIf="isUzl">
<hr class="hr-text" data-content="Долзарб" *ngIf="isUzk">
<hr class="hr-text" data-content="Актуальный" *ngIf="isRu">
<div *ngIf="hotNews">
  <div *ngFor="let newsItem of hotNews" style="background-color: #fff; margin-bottom: 10px">
    <a style="text-decoration: none; color: inherit; margin: unset" class="row" routerLink="{{'/' + newsItem.lang + '/news/' + newsItem.id}}" fragment="{{newsItem.newsType.key}}">
      <div class="col-4" style="padding: 5px;">
        <div style="overflow: hidden;">
          <img src="{{newsItem.imgSrc}}" style="width: 100%;" class="grow">
        </div>
      </div>
      <div class="col-8" style="padding: 5px; font-size: 14px; line-height: 17px; text-align: center; padding-left: unset">
        <p style="margin-bottom: unset">{{newsItem.title}}</p>
      </div>
    </a>
    <hr style="margin: unset">
    <div style="margin: unset; padding: 5px; font-size: 14px">
      <span style="margin-bottom: unset;" class="{{'color' + newsItem.newsType.key}}">{{newsItem.newsType.name}}</span>
      <span style="margin-bottom: unset; float: right; padding: 2px; font-size: 12px">{{newsItem.publishDate}}</span>
    </div>
  </div>
</div>
<a class="btn-floating btn-fb" target="_blank" href="https://www.facebook.com/vuz24/"><i class="fa fa-facebook"></i></a>
<a class="btn-floating btn-tg" target="_blank" href="https://t.me/vuz_24"><i class="fa fa-telegram"></i></a>
<a class="btn-floating btn-ins" target="_blank" href="https://www.instagram.com/vuz_24/"><i class="fa fa-instagram"></i></a>
<a class="btn-floating btn-tw" target="_blank" href="https://twitter.com/Muhammad__Rasul?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
<a class="btn-floating btn-yt" target="_blank" href="https://www.youtube.com/user/MARVEL"><i class="fa fa-youtube-play"></i></a>
<div class="infoLinks" *ngIf="isUzl">
  <a href="">Loyiha haqida</a>
  <a routerLink="./interactives">Interaktiv linklar</a>
  <a routerLink="./contact">Aloqa</a>
</div>
<div class="infoLinks" *ngIf="isUzk" style="font-size: 11px;">
    <a href="">Лойиха ҳақида</a>
    <a routerLink="./interactives">Интерактив линклар</a>
    <a routerLink="./contact">Алоқа</a>
</div>
<div class="infoLinks" *ngIf="isRu" style="font-size: 11px;">
    <a href="">Лойиха ҳақида</a>
    <a routerLink="./interactives">Интерактивные ссылки</a>
    <a routerLink="./contact">Алоқа</a>
</div>
<div class="info" *ngIf="isUzl">
  <p>«www.vuz24.uz» axborot-tahliliy portali 2019-yil 3-iyulda elektron OAV sifatida davlat ro‘yxatidan o‘tkazilgan.</p>
  <p>Materiallarimizdan to‘liq yoki qisman foydalanilganda «Foydalanish shartlari»ga amal qilinishi shart.</p>
  <p><i>Guvohnoma raqami:</i> 1301.</p>
  <p><i>Muassis:</i> O'zbekiston Respublikasi Oliy va o'rta maxsus ta'lim vazirligi huzuridagi "Ma'naviyat va ma'rifat" markazi.</p>
  <!-- <p><i>Manzil:</i> 100095, Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 70-uy.</p>
  <p><i>Email:</i> info@vuz24.uz</p> -->
</div>
<div class="info" *ngIf="isUzk">
    <p>«www.vuz24.uz» ахборот-таҳлилий портали 2019-йил 3-июльда электрон ОАВ сифатида давлат рўйхатидан ўтказилган.</p>
    <p>Материалларимиздан тўлиқ ёки қисман фойдаланилганда «Фойдаланиш шартлари»га амал қилиниши шарт.</p>
    <p><i>Гувоҳнома рақами:</i> 1301.</p>
    <p><i>Муассис:</i> Ўзбекистон Республикаси Олий ва ўрта махсус таълим вазирлиги хузуридаги "Маънавият ва маърифат" маркази.</p>
    <!-- <p><i>Манзил:</i> 100095, Тошкент шаҳри, Олмазор тумани, Талабалар кўчаси, 70-уй.</p>
    <p><i>Электрон манзил:</i> info@vuz24.uz</p> -->
</div>
<div class="info" *ngIf="isRu">
    <p>«www.vuz24.uz» ахборот-таҳлилий портали 2019-йил 3-июльда электрон ОАВ сифатида давлат рўйхатидан ўтказилган.</p>
    <p>Материалларимиздан тўлиқ ёки қисман фойдаланилганда «Фойдаланиш шартлари»га амал қилиниши шарт.</p>
    <p><i>Гувоҳнома рақами:</i> 1301.</p>
    <p><i>Муассис:</i> Ўзбекистон Республикаси Олий ва ўрта махсус таълим вазирлиги хузуридаги "Маънавият ва маърифат" маркази.</p>
    <!-- <p><i>Манзил:</i> 100095, Тошкент шаҳри, Олмазор тумани, Талабалар кўчаси, 70-уй.</p>
    <p><i>Электрон манзил:</i> info@vuz24.uz</p> -->
</div>