<hr class="hr-text" data-content="Dolzarb">
<div *ngIf="hotNews">
  <div *ngFor="let newsItem of hotNews" style="background-color: #fff; margin-bottom: 10px">
    <a style="text-decoration: none; color: inherit; margin: unset" class="row" routerLink="{{'/' + newsItem.lang + '/news/' + newsItem.id}}" fragment="{{newsItem.newsType.key}}">
      <div class="col-4" style="padding: 5px;">
        <div style="overflow: hidden;">
          <img src="{{newsItem.imgSrc}}" style="width: 100%;" class="grow">
        </div>
      </div>
      <div class="col-8" style="padding: 5px; font-size: 14px; line-height: 17px; text-align: center; padding-left: unset">
        <p style="margin-bottom: unset">{{newsItem.title}}</p>
      </div>
    </a>
    <hr style="margin: unset">
    <div style="margin: unset; padding: 5px; font-size: 14px">
      <span style="margin-bottom: unset;" class="{{'color' + newsItem.newsType.key}}">{{newsItem.newsType.name}}</span>
      <span style="margin-bottom: unset; float: right; padding: 2px; font-size: 12px">{{newsItem.publishDate}}</span>
    </div>
  </div>
</div>
<a class="btn-floating btn-fb" target="_blank" href="https://www.facebook.com/vuz24/"><i class="fa fa-facebook"></i></a>
<a class="btn-floating btn-tg" target="_blank" href="https://t.me/vuz_24"><i class="fa fa-telegram"></i></a>
<a class="btn-floating btn-ins" target="_blank" href="https://www.instagram.com/vuz_24/"><i class="fa fa-instagram"></i></a>
<a class="btn-floating btn-tw" target="_blank" href="https://twitter.com/Muhammad__Rasul?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
<a class="btn-floating btn-yt" target="_blank" href="https://www.youtube.com/user/MARVEL"><i class="fa fa-youtube-play"></i></a>
<div class="infoLinks" *ngIf="isUzl">
  <a href="">Loyiha haqida</a>
  <a href="">Foydalanish shartlari</a>
  <a href="">Aloqa</a>
</div>
<div class="infoLinks" *ngIf="isUzk" style="font-size: 11px;">
    <a href="">Лойиха ҳақида</a>
    <a href="">Фойдаланиш шартлари</a>
    <a href="">Алоқа</a>
  </div>
<div class="info" *ngIf="isUzl">
  <p>«Vuz24.uz» axborot-tahliliy portali 2018-yil 1-avgustda elektron OAV sifatida davlat ro‘yxatidan o‘tkazilgan.</p>
  <p>Materiallarimizdan to‘liq yoki qisman foydalanilganda «Foydalanish shartlari»ga amal qilinishi shart.</p>
  <p><i>Guvohnoma raqami:</i> 9999.</p>
  <p><i>Muassis:</i> Oliy va o‘rta maxsus ta'lim vazirligi.</p>
  <p><i>Manzil:</i> 100138, Toshkent shahri, Kichik xalqa yo‘li ko‘chasi, 17-uy.</p>
  <p><i>Email:</i> info@vuz24.uz</p>
</div>
<div class="info" *ngIf="isUzk">
    <p>«Vuz24.uz» ахборот-таҳлилий портали 2018-йил 1-августда электрон ОАВ сифатида давлат рўйхатидан ўтказилган.</p>
    <p>Материалларимиздан тўлиқ ёки қисман фойдаланилганда «Фойдаланиш шартлари»га амал қилиниши шарт.</p>
    <p><i>Гувоҳнома рақами:</i> 9999.</p>
    <p><i>Муассис:</i> Олий ва ўрта махсус таълим вазирлиги.</p>
    <p><i>Манзил:</i> 100138, Тошкент шаҳри, Кичик халқа йўли кўчаси, 17-уй.</p>
    <p><i>Электрон манзил:</i> info@vuz24.uz</p>
</div>