<div class="row contact">
  <h3 *ngIf="isUzl">Aloqa</h3>
  <h3 *ngIf="!isUzl">Алоқа</h3>
  <div class="col-5">
    <div *ngIf="!isUzl" class="infoSide1">
      <i class="fa fa-map-marker"></i>
      <span>100095<br>Тошкент шаҳри, Олмазор тумани<br>Талабалар кўчаси, 70-уй</span>
    </div>
    <div *ngIf="isUzl" class="infoSide1">
      <i class="fa fa-map-marker"></i>
      <span>100095<br>Toshkent shahri, Olmazor tumani<br>Talabalar ko‘chasi, 70-uy</span>
    </div>
    <div class="infoSide1 infoSide2">
        <i class="fa fa-phone"></i>
        <span>+998-71-246-62-53</span>
    </div>
    <div class="infoSide1 infoSide2">
        <i class="fa fa-envelope-o"></i>
        <span>mediamaskan@edu.uz</span>
    </div>
    <a class="btn-floating btn-fb" target="_blank" href="https://www.facebook.com/vuz24/"><i class="fa fa-facebook"></i></a>
    <a class="btn-floating btn-tg" target="_blank" href="https://t.me/vuz_24"><i class="fa fa-telegram"></i></a>
    <a class="btn-floating btn-ins" target="_blank" href="https://www.instagram.com/vuz_24/"><i class="fa fa-instagram"></i></a>
    <a class="btn-floating btn-tw" target="_blank" href="https://twitter.com/Muhammad__Rasul?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
    <a class="btn-floating btn-yt" target="_blank" href="https://www.youtube.com/user/MARVEL"><i class="fa fa-youtube-play"></i></a>

  </div>
  <div class="col-7" style="">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng">
      </agm-marker>
    </agm-map>
  </div>
</div>