<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>VUZ24</h3>
      </div>
      <ul class="list-unstyled components">
          <li class="active"><a href="#">Home</a></li>
          <li>
              <a (click)="showFullMenu(1)">Yangiliklar<span class="fa fa-angle-right" id="menuArrow1"></span></a>
              <ul class="collapse list-unstyled" id="homeSubmenu1">
                  <li><a routerLink="create-news">Yangilik qo'shish</a></li>
                  <li><a routerLink="my-news">Mening yangiliklarim</a></li>
              </ul>
          </li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
  </nav>
  <nav class="navbar navbar-dark fixed-top bg-dark" id="navbar">
      <div id="content">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="fa fa-bars"></i>
          </button>
      </div>
      <a class="dropdown-toggle" data-toggle="dropdown" id="nameDrop">{{name}} {{surname}}</a>
      <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" (click)="logOut()">Log out</a>
      </div>
  </nav>
  <div id="mainBody" class="container">
      <router-outlet></router-outlet>
  </div>
</div>