@import "node_modules/mathsass/dist/math";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    background-color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif !important;
}
.mainColor {
    color: #0F0;
}
agm-map {
  height: 300px;
}
// exception pages
.excPage {
    background-color: #F4FBFB;
    height: 100%;
    text-align: center;
    h3 {
        color: #FFD700;
    }
    img {
        display: block;
        width: 60%;
        margin: 0 auto
    }
    a {
        text-decoration: underline !important;
        font-size: 20px;
        color: #F7AD33 !important;
        cursor: pointer;
    }
    a:not([href]):not([tabindex]) {
        margin-right: 4vw;
    }
}
// exception pages
// sidebar
.wrapper {
  display: flex;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  overflow-y: auto;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  a[data-toggle="collapse"] {
    position: relative;
  }
  p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }
  .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  ul.components {
    p {
      color: #fff;
      padding: 10px;
    }
    li{
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
      }
      a:hover {
        color: #7386D5;
        background: #fff;
      }
    }
    li.active {
      a {
        color: #fff;
        background: #6d7fcc;
      }
    }
    ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
  }
}
#sidebar.active {
  margin-left: -250px;
}
#menuArrow1 {
  float: right;
  padding-top: 5px;
}
nav.navbar-dark a.dropdown-toggle, nav.navbar-dark a.dropdown-toggle:hover {
  color: white;
  cursor: pointer;
  position: fixed;
  right: 20px;
}
#navbar {
  width: calc(100% - 250px);
  left: 250px;
  height: 54px;
  transition: all 0.3s;

  .dropdown-menu {
    top: 51px;
    left: unset;
    right: 15px;
    float: unset;
  }
}
#content, .showMe {
  display: none;
}
.dropdown-toggle::after {
  position: relative;
  top: 2px;
  left: 2px;
}
a.dropdown-item {
  cursor: pointer;
}
#mainBody {
  width: calc(100% - 250px);
  left: 250px;
  position: relative;
  margin: unset;
  padding-top: 80px;
  transition: all 0.3s;
}
h2.mainHeader, .mdrtCreate {
  margin: auto;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #navbar, #mainBody {
    width: calc(100%);
    left: 0;
  }
  #navbar.move {
    left: 250px;
  }
  #content {
    display: block;
  }
}
// sidebar
// log-in form
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}
#logInForm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 40px;
  height: 100%;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
#wrongTryWarning {
  display: none;
  color: red;
  span {
    text-decoration: underline;
  }
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  input, label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  input::-webkit-input-placeholder, input:-ms-input-placeholder,
  input::-ms-input-placeholder, input::-moz-placeholder, input::placeholder {
    color: transparent;
  }
  input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
}
// log-in form
// administrator & moderator
.data-form {
  max-width: 350px;
  margin: 2% auto;
}
input[type=number]::-webkit-inner-spin-button, input[type=date]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button, input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mdrtCreate {
  display: block
}
.addMdrtBtn {
  margin-right: 24px;
  font-size: 24px;
}
.mdrtItem {
  box-shadow: 0px 3px 8px 0px #aaa;
  margin: 15px 0 !important;
  img {
    border-radius: 50%;
    width: 100%;
    padding: 10px 0;
  }
  .col-8 {
    padding-right: unset;
  }
  .col-4 {
    padding: unset;
  }
  .col-12 {
    background-color: #eee;
    padding: 10px
  }
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-weight: 400;
    padding-top: 3px;
  }
  a.moreInfo, a.moreInfo:hover {
    color: #fff;
    -webkit-appearance: none;
    float: right;
    padding: 2px 8px;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }
}
textarea {
  resize: none;
}
#npNewsList {
    h2 {
        text-align: center;
    }
    .newsRow {
        background-color: #fff;
        margin: 10px 0;
        padding: 1px;
        a, a:hover, a:active {
            color: unset;
            text-decoration: unset;
            cursor: pointer;
            h5 {
                padding-top: 12px;
            }
        }
        .col-3 {
            img {
                width: 100%;
                padding-top: 20px;
            }
        }
        .col-9 {
            p.mainColor {
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
    }
}
.bd-example-modal-lg {
    z-index: 9999 !important;
    .modal-lg {
        max-width: 90%;
    }
}
// administrator & moderator
//layout
#layout {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1021;
    nav.littleNav {
      background: #000;
      ul:not(.dropdown-menu) {
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        li {
          display: inline-block;
          font-size: 12px;
          margin-right: -1px!important;
          color: #fff;
          letter-spacing: 1.2px;
          font-weight: 600;
          padding: 7px 10px 6px;
          position: relative;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          a:not(.dropdown-item) {
            color: #fff;
            border-color: #fff;
            border-color: hsla(0,0%,100%,.1);
            text-decoration: none;
            border-width: 0;
            cursor: pointer;
            text-transform: uppercase;
            touch-action: manipulation;
          }
          a:hover, a.active {
            color: #d7c26e;
          }
        }
        li:hover {
          border-right: 1px solid #4c4c4c;
          border-left: 1px solid #4c4c4c;
        }
        li.miniLogo {
            padding: 0 15px;
            margin: 0 auto;
            display: block;
            background-color: #fff
        }
        @media screen and (min-width: 992px) {
            li.miniLogo {
              display: none
            }
          }
        li.moveRight {
          margin-left: auto;
          .dropdown-menu {
            left: unset;
            right: 0;
            top: calc(31px - 0.125rem);
            border-radius: unset !important;
          }
          @media screen and (max-width: 575px) {
            .firstName {
              display: none
            }
          }
          @media screen and (min-width: 992px) {
            .dropdown-header, .dropdown-divider {
              display: none;
            }
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
        .mainLogo {
            display: none
        }
        .menu ul li.nav-item .nav-link{
              padding-left: 28px;
        }
    }
    @media screen and (min-width: 992px) {
        .grow {
          transition: all .2s ease-in-out;
        }
        .grow:hover, .active-menu {
          color: #4ea1e3;
          transform: scale(1.15);
        }
        .menu {
            text-align: center;
            z-index: 100;
            width: 100%;
            ul {
              display: flex;
              flex-direction: row;
              align-content: stretch;
              align-items: center;
              justify-content: center;
              position: relative;
              margin-bottom: 0;
              li.nav-item {
                padding: 0;
                margin-right: 0!important;
                flex: 1;
                a {
                    white-space: nowrap;
                }
              }
            }
        }
    }
}
#spaceTop {
    height: 101px;
}
@media screen and (max-width: 991px) {
    #spaceTop {
        height: 31px;
    }
}
// layout
// animated modal
#modalSignIn.show {
  background-color: rgba(255, 255, 255, .5);
}
#modal-itself {
  max-width: 50%;
  main {
    min-width: 320px;
    max-width: 100%;
    background: #fff;
    input {
      display: none;
    }
    input:checked + label {
      color: #555;
      border-bottom: 1px solid #fff;
      background-color: #fff;
    }
    section {
      display: none;
      border-top: 1px solid #ddd;
      padding: 80px 30px;
      input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 13px 0;
          display: inline-block;
          border: 1px solid #ddd;
          box-sizing: border-box;
          border-radius: 3px;
      }
      input[type=text]:focus, input[type=password]:focus {
          outline: none !important;
          border: 1px solid #28CA97;
      }
      button.cancelbtn, button.loginbtn {
          background: #28CA97;
          color: white;
          margin: 10px 0 0 0;
          border: 0;
          cursor: pointer;
          width: 50%;
          float: left;
          height: 46px;
          padding: 0;
      }
      button.cancelbtn {
          border-radius: 3px 0 0 3px;
          background: #aaa;
      }
      button.loginbtn {
          border-radius: 0 3px 3px 0;
      }
      button:not(:disabled):hover {
          opacity: 0.8;
      }
      button:disabled {
        cursor: auto;
      }
    }
    label {
      display: block;
      float: left;
      width: 50%;
      margin: 0;
      padding: 20px 25px;
      font-weight: 400;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
      background-color: #ddd;
    }
    label:hover {
      color: #888;
      cursor: pointer;
    }
    #tab1:checked ~ #content1, #tab2:checked ~ #content2 {
      display: block;
    }
    button:focus {
        outline: none !important;
        border: none;
    }
    button.icon-close{
      background: #ddd;
      margin-bottom: 10px;
      position: absolute;
      right: -8px;
      top: -8px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 0;
      color: #a9a9a9;
      cursor: pointer;
    }
    button.icon-close:hover, button.icon-close:focus{
      color: black;
    }
    @media screen and (max-width: 650px) {
      label {
        font-size: 12px;
      }
      button.icon-close{
        display: none;
      }
    }
    @media screen and (max-width: 400px) {
      label {
        padding: 15px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
    #modal-itself {
        max-width: 90%;
    }
}
@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-width: 1200px) {
    .excPage img {
        width: 100%
    }
}
// animated modal
// news
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  margin: 5px 0;
  &:before {
    content: '';
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1.5px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    font-weight: 500;
    color: #222;
    background-color: #F1F1F1;
  }
}
@media screen and (max-width: 767px) {
  .side {
    display: none;
  }
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.15);
}
.coloruzbekistan {
  color: #449cee;
}
.colorsociety {
  color: #f56bf3;
}
.colorworld {
  color: #6bf59c;
}
.colorsport {
  color: #ee4444;
}
.colortechnology {
  color: #ee9044;
}
.colorculture {
  color: #f56bf3;
}
.coloreconomics {
  color: #534ff6;
}
.colorhellife {
  color: #964e4e;
}
$bubble-d: 1.5rem; // bubble diameter
$bubble-r: .5*$bubble-d; // bubble-radius
$sparkle-d: .375rem;
$sparkle-r: .5*$sparkle-d;
@mixin sparkles($k) {
    $shadow-list: ();
    $n-groups: 7;
    $group-base-angle: 360deg/$n-groups;
    $group-distr-r: (1 + $k*.25)*$bubble-r;
    $n-sparkles: 2;
    $sparkle-base-angle: 360deg/$n-sparkles;
    $sparkle-off-angle: 60deg;
    $spread-r: -$k*$sparkle-r;
    @for $i from 0 to $n-groups {
        $group-curr-angle: $i*$group-base-angle - 90deg;
        $xg: $group-distr-r*cos($group-curr-angle);
        $yg: $group-distr-r*sin($group-curr-angle);
        
        @for $j from 0 to $n-sparkles {
            $sparkle-curr-angle: $group-curr-angle + 
                $sparkle-off-angle + $j*$sparkle-base-angle;
            $xs: $xg + $sparkle-d*cos($sparkle-curr-angle);
            $ys: $yg + $sparkle-d*sin($sparkle-curr-angle);
            
            $shadow-list: $shadow-list, $xs $ys 0 $spread-r 
                hsl(($i + $j)*$group-base-angle, 100%, 75%);
        }
    }
    box-shadow: $shadow-list;
}
@mixin bubble($ext) {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: $ext;
}
.downElement > span > input[type=checkbox] {
    position: absolute;
    left: -100vw;
}
.downElement > span > label[aria-label=like] {
    z-index: 1;
    margin-bottom: 0;
    align-self: center;
    position: relative;
    color: #000;
    font-size: 16px;
    // filter: grayscale(1);
    user-select: none;
    cursor: pointer;
    &:hover {
      color: red
    }
    &:before, &:after {
        position: absolute;
        z-index: -1;
        top: 50%; left: 50%;
        border-radius: 50%;
        content: '';
    }
    &:before {
        box-sizing: border-box;
        margin: -$bubble-r;
        border: solid $bubble-r #e2264d;
        width: $bubble-d; height: $bubble-d;
        transform: scale(0);
    }
    &:after {
        margin: -$sparkle-r;
        width: $sparkle-d; height: $sparkle-d;
        @include sparkles(1);
    }
}
@keyframes heart {
    0%, 17.5% {
        font-size: 0;
    }
}
@keyframes bubble {
    15% { @include bubble($bubble-r); }
    30%, 100% { @include bubble(0); }
}
@keyframes sparkles {
    0%, 20% { opacity: 0; }
    25% {
        opacity: 1;
        @include sparkles(0);
    }
}
#toggle-heart {
  &:checked + label {
      color: #f00;
      filter: none;
      will-change: font-size;
      animation: heart 0.5s cubic-bezier(.17, .89, .32, 1.49);
      
      &:before, &:after {
          animation: inherit;
          animation-timing-function: ease-out;
      }
      
      &:before {
          will-change: transform, border-width, border-color;
          animation-name: bubble;
      }
      
      &:after {
          will-change: opacity, box-shadow;
          animation-name: sparkles;
      }
  }
  &:focus + label {
      text-shadow: 0 0 3px white, 
          0 1px 1px white, 0 -1px 1px white, 
          1px 0 1px white, -1px 0 1px white;
  }
}
@for $i from 0 through 3 {
  #mr-toggle-heart-#{$i} {
      &:checked + label {
          color: #f00;
          filter: none;
          will-change: font-size;
          animation: heart 0.5s cubic-bezier(.17, .89, .32, 1.49);
          
          &:before, &:after {
              animation: inherit;
              animation-timing-function: linear;
          }
          
          &:before {
              will-change: transform, border-width, border-color;
              animation-name: bubble;
          }
          
          &:after {
              will-change: opacity, box-shadow;
              animation-name: sparkles;
          }
      }
      &:focus + label {
          text-shadow: 0 0 3px white, 
              0 1px 1px white, 0 -1px 1px white, 
              1px 0 1px white, -1px 0 1px white;
      }
  }
}
@for $i from 0 through 200 {
  #toggle-heart-#{$i} {
      &:checked + label {
          color: #f00;
          filter: none;
          will-change: font-size;
          animation: heart 0.5s cubic-bezier(.17, .89, .32, 1.49);
          
          &:before, &:after {
              animation: inherit;
              animation-timing-function: ease-out;
          }
          
          &:before {
              will-change: transform, border-width, border-color;
              animation-name: bubble;
          }
          
          &:after {
              will-change: opacity, box-shadow;
              animation-name: sparkles;
          }
      }
      &:focus + label {
          text-shadow: 0 0 3px white, 
              0 1px 1px white, 0 -1px 1px white, 
              1px 0 1px white, -1px 0 1px white;
      }
  }
}
.newsItem {
  background-color: #fff;
  margin-top: unset !important;
  margin-right: unset !important;
  margin-left: unset !important;
  margin-bottom: 1rem;
  .col-3 {
    overflow: hidden;
    padding: unset;
    img {
      display: none;
      // height: 200px !important;
      // width: 200px !important;
    }
  }
  .col-9 {
    padding: 15px 15px 0 15px;
    a, a:hover, a:active {
      color: inherit;
      text-decoration: none;
      h5 {
        font-weight: 600;
        font-size: 1.35rem;
      }
    }
    .downLine {
      margin-top: 5px;
      .downElement {
        display: inline-block;
        min-width: 60px;
        pre {
          margin: unset;
          line-height: 14px;
          span:first-child {
            font-size: 15px;
          }
          span:last-child {
            font-size: 11px;
          }
        }
      }
      .downElement:last-child {
        min-width: unset;
        margin-left: 21px;
        font-size: 17px;
      }
      @media screen and (max-width: 575px) {
        .downElement:last-child {
          margin-left: 12px;
        }
      }
      .downElements {
        float: right;
        .downElement {
          vertical-align: middle;
          span {
            display: block;
            text-align: center;
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
      p.subContent {
        display: none;
      }
    }
  }
}

.MainNewsBlock {
  margin: unset !important;
  & > div {
    height: 25.2rem;
    padding: unset;
    max-width: 49%;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 991px) {
    & > div {
      height: unset;
    }
  }
  @media screen and (max-width: 575px) {
    & > div {
      max-width: unset;
    }
  }
}

.mrNewsItem {
  height: 100%;
  background-color: #fff;
  .linkBlock {
    display: block;
    height: 22.7rem;
    overflow: hidden;
    &, &:hover, &:active {
      text-decoration: none;
      color: inherit;
    }
    .picture {
      width: 100%;
      height: 12rem;
      position: relative;
      top: 0;
      left: 0;
      transition: all .3s ease-in-out;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
      border: 0 solid #fff;
      overflow: hidden;
      &:hover {
        background-size: 100%;
      }
    }
    h5 {
      margin: 15px;
      font-weight: 600;
      font-size: 1.35rem;
    }
    p {
      margin: 15px;
      font-size: 14px;
    }
  }
  .downLine {
    margin-top: 5px;
    margin: 5px 15px 0 15px;
    .downElement {
      display: inline-block;
      min-width: 60px;
      pre {
        margin: unset;
        line-height: 14px;
        span:first-child {
          font-size: 15px;
        }
        span:last-child {
          font-size: 11px;
        }
      }
    }
    .downElement:last-child {
      min-width: unset;
      margin-left: 10px;
      font-size: 17px;
    }
    .downElements {
      float: right;
      .downElement {
        vertical-align: middle;
        span {
          display: block;
          text-align: center;
          // label:hover {
          //   color: red;
          // }
        }
      }
      & > span {
        border-left: 1px solid #000;
        padding-bottom: 3px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .mrNewsItem {
    .linkBlock {
      height: 15.25rem;
      p {
        display: none;
      }
      .picture {
        height: 9rem;
      }
      h5 {
        font-size: 1.1rem;
      }
    }
    .downLine {
      .downElements {
        float: unset;
        margin-bottom: 10px;
        .downElement {
          min-width: 61px !important;
        }
      }
      .downElement:last-child {
        font-size: 15px;
        margin-left: 15px;
        min-width: unset !important;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .mrNewsItem {
    .linkBlock {
      height: unset;
      h5 {
        font-size: 1.2rem;
      }
    }
    .downLine {
      .downElements {
        .downElement {
          min-width: 25% !important;
        }
      }
      .downElement:last-child {
        margin-left: -1px;
      }
    }
  }
  .newsItem .col-9 {
    padding: 7px 5px 0 15px;
    .downLine .downElements {
      float: unset;
      font-size: 14px !important;
    }
    a, a:hover, a:active {
      h5 {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .downElement > span > label[aria-label=like] {
    font-size: 14px;
  }
  .mrNewsItem > .downLine > .downElements > .downElement {
    min-width: 57px;
  }
}
#mainSide {
  // position: fixed;
  width: 270px;
  display: block;
  margin-bottom: 1rem;
  position: sticky;
  // top: 117px !important;
  z-index: 1020;

  .infoLinks {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    a {
        padding: 0 5px;
        border-left: 1px solid #007bff; border-right: 1px solid #007bff;
    }
    a:first-of-type {
        padding-left: unset;
        border: none;
    }
    a:last-of-type {
        padding-right: unset;
        border: none;
    }
  }
  .info {
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    padding-top: unset;
    p:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
    p:last-of-type {
        margin-bottom: unset;
    }

  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #mainSide {
    width: 240px;
    .infoLinks {
      font-size: 10.6px;
      a {
          padding: 0 4px;
      }
    }
    .info {
      font-size: 13px;
      line-height: 17px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #mainSide {
    width: 195px;
    .infoLinks {
      line-height: 18px;
      a {
          display: block;
          border: none;
          text-align: center
      }
    }
    .info {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 767px) {
  #mainSide {
    display: none;
  }
}

.newsDetail {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 1rem;
  .ndInfoLine {
    margin-top: 20px;
    height: 20px;
    padding-left: 1px;
    padding-right: 1px;
    p {
      font-size: small;
      color: #707a7c;
      margin-bottom: unset;
      float: right;
      &:first-of-type {
        float: left;
      }
      .fa-clock-o, .fa-comments-o {
        margin-left: 20px;
      }
    }
    @media screen and (max-width: 375px) {
      p {
        font-size: 12px;
      }
    }
  }
  .content {
    text-align: justify;
    img {
      display: block;
      margin: 10px auto;
      max-width: 90%;
      height: unset !important;
    }
  }
  .row > .downElement {
    text-align: center;
    height: 24px;
  }
  .shareLinksRow {
    text-align: center;
    margin: 2rem auto;
  }
  .divider {
    border-bottom: 2px solid #4db2ec;
    padding-bottom: 2px;
    a {
      padding: 5px 8px 3px 8px;
      background-color: #4db2ec;
      color: #fff;
      &:hover, &:active {
        cursor: pointer;
        color: #fff;
      }
    }
  }
  .relativeNewsList {
    margin-bottom: 2rem;
    div > a {
      margin: unset;
      &, &:hover, &:active {
        text-decoration: none;
        color: inherit;
      }
      div {
        overflow: hidden;
        padding: unset;
        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }
        p:first-of-type, p:last-of-type {
          text-align: right;
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: unset;
        }
        p:nth-of-type(2) {
          padding-left: 2px;
          line-height: 18px;
          font-weight: 500;
          margin-bottom: unset;
        }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          img {
            height: 130px;
          }
          p:first-of-type, p:last-of-type {
            font-size: 10px;
          }
          p:nth-of-type(2) {
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
          }
        }
      }
      @media screen and (max-width: 575px) {
        & {
          margin-bottom: 10px;
        }
        img {
          height: unset !important;
          padding-top: 3px;
        }
        .col-9 {
          padding-left: 15px;
          padding-right: 15px;
          hr {
            margin-bottom: 0.2rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  .shareLinksRow {
    .btn-yt {
      i {
        margin-left: -18px;
      }
      &:hover i {
        margin-left: 0px;
      }
    }
  }
}
// social links
$fb-color: #3b5998 !default;
$tw-color: #55ADED !default;
$tg-color: #37ABDE !default;
$yt-color: #ED302F !default;
.btn-floating {
    display: inline-block;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    padding: 0;
    overflow: hidden;
    margin: 10px unset;
    margin-left: unset;
    cursor: pointer;
    clip-path: inset(0 0 0 0 round 100%);
    user-select: none;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border-radius: 100%;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .5s ease-out;
        transition: all, 0.5s, ease-out;
    }
    &:hover:before, &:active:before {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    i {
        font-size: 1.625rem;
        line-height: 44px;
        display: inline-block;
        text-align: center;
        width: inherit;
        color: #fff;
        text-rendering: auto;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }
}
.btn-floating:not(:last-of-type) {
    margin-right: 10px;
}
.btn-fb {
    background-color: $fb-color;

    &:before {
      background-color: #fff !important;
    }
    i {
      font-size: 28px;
      color: #fff;
    }
    &:hover i {
      font-size: 22px;
      color: $fb-color;
    }
}
.btn-tw {
    background-color: $tw-color;
    &:before {
      background-color: #fff !important;
    }
    i {
      font-size: 28px;
      color: #fff;
    }
    &:hover i {
      font-size: 22px;
      color: $tw-color;
    }
}

.btn-tg {
    background-color: #fff;
    &:before {
      background-color: $tg-color !important;
    }
    i {
      font-size: 44px;
      color: $tg-color;
    }
    &:hover i {
      font-size: 30px;
      color: #fff;
    }
}
.btn-ins {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    &:before {
      background-color: #fff !important;
    }
    i {
      font-size: 35px;
      color: #fff;
    }
    &:hover i {
      font-size: 28px;
      color: #d6249f;
    }
}
.btn-yt {
    background-color: #fff;
    &:before {
      background-color: $yt-color !important;
    }
    i {
      font-size: 64px;
      margin-left: -10px;
      color: $yt-color;
    }
    &:hover i {
      font-size: 30px;
      margin-left: 0px;
      color: #fff;
    }
}
@media screen and (min-width: 1200px) {
  .btn-floating {
      margin-left: 2px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-floating:not(:last-of-type) {
        margin-right: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .btn-floating {
        width: 34px;
        height: 34px;
        i {
            font-size: 1.25rem;
            line-height: 34px;
        }
    }
    .btn-floating:not(:last-of-type) {
        margin-right: 5px;
    }
}
// social links

.ngx-img-wrapper, .ngx-img-crop-wrapper {
  height: 195px !important;
}
.ngx-img-crop-col {
  margin: unset !important;
}
.savedImg {
  width: 100%;
  border-radius: 50%;
  border: 3px solid #218fcf;
}
.savedNews {
  margin: 0 0 1rem 0;
  & > div {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px !important;
    margin-bottom: unset !important;
    flex: 0 0 calc(33.333% - 10px);
    a {
      margin: unset;
      &, &:hover, &:active {
        text-decoration: none;
        color: inherit;
      }
      div {
        overflow: hidden;
        padding: unset;
        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }
        p:first-of-type, p:last-of-type {
          text-align: right;
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: unset;
        }
        p:nth-of-type(2) {
          padding-left: 2px;
          line-height: 18px;
          font-weight: 500;
          margin-bottom: unset;
        }
        @media screen and (min-width: 576px) and (max-width: 991px) {
          img {
            height: 130px;
          }
          p:first-of-type, p:last-of-type {
            font-size: 10px;
          }
          p:nth-of-type(2) {
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
          }
        }
      }
      @media screen and (max-width: 575px) {
        & {
          margin-bottom: 10px;
        }
        img {
          height: unset !important;
          padding-top: 3px;
        }
        .col-9 {
          padding-left: 15px;
          padding-right: 15px;
          hr {
            margin-bottom: 0.2rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
.modal-body {
  img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
}
.contact {
  margin: 15px 0 0 0;
  background-color: #fff;
  padding: 15px;
  h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 50px
  }
  .col-5 {
    padding-top: 25px;
    .infoSide1 {
      height: 63px;
      margin-bottom: 35px;
      i {
        padding-top: 20px;
        font-size: 22px;
        vertical-align: -webkit-baseline-middle;
      }
      span {
        font-size: 14px;
        width: 85%;
        float: right;
        text-align: center
      }
    }
    .infoSide2 {
      height: 25px !important;
      i {
        padding-top: unset !important;
        vertical-align: unset !important;
      }
    }
  }
}
.interactive {
  margin: 15px 0 0 0;
  background-color: #fff;
  padding: 15px;
  h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 50px
  }
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto
  }
}
#carouselExampleIndicators {
  background: #fff;
  ol {
    bottom: unset;
    top: 285px
  }
  .carousel-item a {
    text-decoration: none;
    color: inherit;
    margin: unset;
    div {
      height: 300px;
      overflow: hidden;
      position: relative;
      @media screen and (max-width: 425px) {
        height: 150px;
      }
      img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        width: 100%;
      }
    }
    h4 {
      margin: 10px;
      font-weight: 600;
      font-size: 1.35rem;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    height: 300px;
  }
  @media screen and (max-width: 767px) {
    .carousel-control-prev, .carousel-control-next {
      display: none
    }
  }
}

body.greying {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      filter: grayscale(100%);
      filter: gray;
}